$pink: #f09aff;
$textDark: #1f1f1f;

.endturn-button{
  float: right;
  margin-top: 10px;
}

.battle-turn-bottom-bar {
  background-color: #2d2d2d;
  padding: 10px 25px;
  position: relative;
  top: 30px;
  border-radius: 5px;
}

.card-action {
    background-color: #2d2d2d;
}

.actions-list {
  height: 18rem;
  overflow: auto;
}

@media (min-width: 768px) {
  .actions-list {
    height: 24rem;
  }
}

@media (min-width: 992px) {
  .actions-list {
    height: 34rem;
  }
}

.fixed-bottom {
}

.btn.btn-primary {
  background-color: $pink;
  border-color: $pink;
  color: $textDark;
}

.addAction-submit-button {
  position: relative;
  bottom: -22px;
  width: 100%;
}
