<div class="home-welcome-container">
    <div class="mt-5 mb-5 text-center">
      <img id="logo-home" src="assets/drow_logo.svg">
      <h1>
          Drow
        </h1>
        <h4>Battle helper for D&D</h4>
      <div class="input-group">
        <button
          routerLink="battle"
          type="button"
          class="mt-3 btn btn-primary btn-lg">
          Begin battle
        </button>
        <button
          routerLink="monsters"
          type="button"
          class="mt-3 btn btn-primary btn-lg">
          Monster list
        </button>
      </div>
    </div>
</div>
